In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/super-smash-bros-database/smash4_player_database.db
/kaggle/input/super-smash-bros-database/melee_player_database.db
/kaggle/input/super-smash-bros-database/ultimate_player_database.db
/kaggle/input/super-smash-bros-database/smash4_player_database/players.csv
/kaggle/input/super-smash-bros-database/smash4_player_database/ranking_seasons.csv
/kaggle/input/super-smash-bros-database/smash4_player_database/ranking.csv
/kaggle/input/super-smash-bros-database/smash4_player_database/sets.csv
/kaggle/input/super-smash-bros-database/smash4_player_database/tournament_info.csv
/kaggle/input/super-smash-bros-database/melee_player_database/players.csv
/kaggle/input/super-smash-bros-database/melee_player_database/ranking_seasons.csv
/kaggle/input/super-smash-bros-database/melee_player_database/ranking.csv
/kaggle/input/super-smash-bros-database/melee_player_database/sets.csv
/kaggle/input/super-smash-bros-database/melee_player_database/tournament_info.csv
/kaggle/input/super-smash-bros-database/ultimate_player_database/players.csv
/kaggle/input/super-smash-bros-database/ultimate_player_database/ranking_seasons.csv
/kaggle/input/super-smash-bros-database/ultimate_player_database/ranking.csv
/kaggle/input/super-smash-bros-database/ultimate_player_database/sets.csv
/kaggle/input/super-smash-bros-database/ultimate_player_database/tournament_info.csv

In [2]:
players = pd.read_csv('/kaggle/input/super-smash-bros-database/ultimate_player_database/players.csv')
players.head()

/tmp/ipykernel_20/3615646048.py:1: DtypeWarning: Columns (2,9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv('/kaggle/input/super-smash-bros-database/ultimate_player_database/players.csv')

,index,game,player_id,tag,all_tags,prefixes,social,country,state,region,c_country,c_state,c_region,placings,characters,alias
0,0,ultimate,185155,Axiom XL,"[""Axiom XL"", ""Axiom_XL"", ""Axiom xl""]",[],"{""twitter"": [""Axiom_SSB""]}",United States,MA,NaN,US,MA,Waltham,"[{""key"": ""one-up-ultimate-62722"", ""placing"": 1...","{""ultimate/wolf"": 28, ""ultimate/wario"": 374, ""...",NaN
1,1,ultimate,67666,DM,"[""DM"", ""DM888"", ""DiamondMiner888""]","[""FH"", ""Timor"", ""Sinai"", ""TT""]","{""twitter"": [""DM_SSB"", ""DM888_SSB""]}",United States,MA,NaN,US,MA,Waltham,"[{""key"": ""one-up-ultimate-62722"", ""placing"": 2...","{""ultimate/pikachu"": 623, ""ultimate/pokemontra...",NaN
2,2,ultimate,1395261,Dolan,"[""Dolan"", ""TT | Dolan"", ""JD"", ""TT | JD""]","[""TT""]","{""twitter"": [""JD_sbu""]}",United States,MA,NaN,US,MA,Boston,"[{""key"": ""one-up-ultimate-62722"", ""placing"": 5...","{""ultimate/piranhaplant"": 91, ""ultimate/kingkr...",NaN
3,3,ultimate,749484,hatt,"[""hatt"", ""hatt3349"", ""Hatt""]","[""TT"", ""mcE""]","{""twitter"": [""hatt33349""]}",United States,MA,NaN,US,MA,Boston,"[{""key"": ""one-up-ultimate-62722"", ""placing"": 3...","{""ultimate/ganondorf"": 24, ""ultimate/ken"": 281...",NaN
4,4,ultimate,1404303,Sylviris,"[""Sylviris"", ""Anglicae""]",[],"{""twitter"": []}",United States,MA,NaN,US,MA,Morgantown,"[{""key"": ""one-up-ultimate-62722"", ""placing"": 4...","{""ultimate/zelda"": 582, ""ultimate/wolf"": 1, ""u...",NaN

In [3]:
print(players.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512105 entries, 0 to 512104
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   index       512105 non-null  int64
 1   game        512105 non-null  object
 2   player_id   512105 non-null  object
 3   tag         512064 non-null  object
 4   all_tags    512105 non-null  object
 5   prefixes    512105 non-null  object
 6   social      512105 non-null  object
 7   country     294493 non-null  object
 8   state       151310 non-null  object
 9   region      1151 non-null    object
 10  c_country   428181 non-null  object
 11  c_state     421082 non-null  object
 12  c_region    410096 non-null  object
 13  placings    512105 non-null  object
 14  characters  512105 non-null  object
 15  alias       885 non-null     object
dtypes: int64(1), object(15)
memory usage: 62.5+ MB
None

In [4]:
print(players[players['tag'] == "BowWow"])

         index      game player_id     tag    all_tags prefixes  \
234496  234496  ultimate   1817494  BowWow  ["BowWow"]       []
241901  241901  ultimate   1928551  BowWow  ["BowWow"]       []
268991  268991  ultimate   1972090  BowWow  ["BowWow"]       []

                 social        country state region c_country  c_state  \
234496  {"twitter": []}  United States    ME    NaN        US       MA
241901  {"twitter": []}        England   NaN    NaN        GB  England
268991  {"twitter": []}  United States   NaN    NaN        US       UT

             c_region                                           placings  \
234496        Waltham  [{"key": "le-veon-bell-and-hungrybox-present-t...
241901  Wolverhampton  [{"key": "lockdown-32__ultimate-singles", "pla...
268991          Provo  [{"key": "lan-king-weekly-8-4-2020__singles", ...

                                               characters alias
234496  {"ultimate/bowserjr": 261, "ultimate/bowser": ...   NaN
241901  {"ultimate/banjokazooie": 4, "ultimate/drmario...   NaN
268991                                                 ""   NaN

In [5]:
sets = pd.read_csv('/kaggle/input/super-smash-bros-database/ultimate_player_database/sets.csv')
sets.head()

/tmp/ipykernel_20/2817032956.py:1: DtypeWarning: Columns (4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  sets = pd.read_csv('/kaggle/input/super-smash-bros-database/ultimate_player_database/sets.csv')

,index,key,game,tournament_key,winner_id,p1_id,p2_id,p1_score,p2_score,location_names,bracket_name,bracket_order,set_order,best_of,game_data
0,0,281065202,ultimate,one-up-ultimate-62722,2476877,2476877,2635043,2,1,"[""W1"", ""Winners 1"", ""Winners Round 1""]",NaN,1,A,3.0,[]
1,1,281065203,ultimate,one-up-ultimate-62722,329522,329522,2865842,2,0,"[""W1"", ""Winners 1"", ""Winners Round 1""]",NaN,1,B,3.0,[]
2,2,281065204,ultimate,one-up-ultimate-62722,135734,challonge__the_gahmur,135734,0,2,"[""W1"", ""Winners 1"", ""Winners Round 1""]",NaN,1,C,3.0,[]
3,3,281065205,ultimate,one-up-ultimate-62722,25985,25985,C174671730,2,0,"[""W1"", ""Winners 1"", ""Winners Round 1""]",NaN,1,D,3.0,[]
4,4,281065206,ultimate,one-up-ultimate-62722,C174659933,C174659933,challonge__PiersonG33,2,0,"[""W1"", ""Winners 1"", ""Winners Round 1""]",NaN,1,E,3.0,[]

In [6]:
total_sets = len(sets[(sets['p1_id'] == 1817494) | (sets['p2_id'] == 1817494)])
wins = len(sets[sets['winner_id'] == 1817494])
win_percent = wins / total_sets * 100
print(win_percent)

34.54545454545455

In [7]:
my_sets = sets[(sets['p1_id'] == 1817494) | (sets['p2_id'] == 1817494)]
print(my_sets)

           index           key      game  \
1884323  1884323  gg__28833855  ultimate
1884346  1884346  gg__28834065  ultimate
1884354  1884354  gg__28834094  ultimate
1884358  1884358  gg__28834102  ultimate
1894698  1894698  gg__28851789  ultimate
...          ...           ...       ...
6454436  6454436  gg__51835931  ultimate
7085594  7085594  gg__55075226  ultimate
7085619  7085619  gg__55075294  ultimate
7095942  7095942  gg__55078669  ultimate
7095948  7095948  gg__55078695  ultimate

                                            tournament_key winner_id  \
1884323  le-veon-bell-and-hungrybox-present-the-box__th...   1800744
1884346  le-veon-bell-and-hungrybox-present-the-box__th...   1817494
1884354  le-veon-bell-and-hungrybox-present-the-box__th...   1817494
1884358  le-veon-bell-and-hungrybox-present-the-box__th...   1440849
1894698                 hotel-rumble-6-1__ultimate-singles   1362532
...                                                    ...       ...
6454436  game-underground-ultimate-weekly-9-13-22__ssbu...    152422
7085594     game-underground-weekly-12-13-22__ssbu-singles   2358344
7085619     game-underground-weekly-12-13-22__ssbu-singles   1120290
7095942  game-underground-weekly-12-13-22__ssbu-redemption   1079232
7095948  game-underground-weekly-12-13-22__ssbu-redemption   1620865

            p1_id      p2_id  p1_score  p2_score  \
1884323   1800744    1817494         2         0
1884346   1817494    1802920         2         0
1884354    421056    1817494        -1         0
1884358   1440849    1817494         2         0
1894698   1362532    1817494         2         0
...           ...        ...       ...       ...
6454436  152422.0  1817494.0         2         1
7085594   2358344  1817494.0         2         0
7085619   1120290  1817494.0         2         0
7095942   1079232  1817494.0         0        -1
7095948   1817494  1620865.0        -1         0

                                            location_names bracket_name  \
1884323             ["W1", "Winners 1", "Winners Round 1"]      Stage 1
1884346               ["L1", "Losers 1", "Losers Round 1"]      Stage 1
1884354               ["L2", "Losers 2", "Losers Round 2"]      Stage 1
1884358               ["L3", "Losers 3", "Losers Round 3"]      Stage 1
1894698             ["W2", "Winners 2", "Winners Round 2"]      Bracket
...                                                    ...          ...
6454436               ["L2", "Losers 2", "Losers Round 2"]      Bracket
7085594             ["W1", "Winners 1", "Winners Round 1"]      Bracket
7085619               ["L1", "Losers 1", "Losers Round 1"]      Bracket
7095942  ["WQF", "Winners Quarters", "Winners Quarter-F...      Bracket
7095948               ["L1", "Losers 1", "Losers Round 1"]      Bracket

         bracket_order set_order  best_of  \
1884323              1         O      3.0
1884346              1        AO      3.0
1884354              1        AW      3.0
1884358              1        BA      3.0
1894698              2         I      3.0
...                ...       ...      ...
6454436              1        AT      3.0
7085594              1         E      3.0
7085619              1        AD      3.0
7095942              1         F      3.0
7095948              1         L      3.0

                                                 game_data
1884323  [{"winner_id": 1800744, "loser_id": 1817494, "...
1884346  [{"winner_id": 1817494, "loser_id": 1802920, "...
1884354                                                 []
1884358  [{"winner_id": 1440849, "loser_id": 1817494, "...
1894698  [{"winner_id": 1362532, "loser_id": 1817494, "...
...                                                    ...
6454436                                                 []
7085594                                                 []
7085619                                                 []
7095942                                                 []
7095948                                                 []

[220 rows x 15 columns]

In [8]:
game_data = sets[sets['game_data'] != '[]']
print(game_data['game_data'].iloc[0])

[{"winner_id": "543328", "loser_id": "Sunbaby", "winner_score": "2", "loser_score": 0, "winner_char": "ultimate/joker", "loser_char": "ultimate/mario", "stage": "Battlefield"}, {"winner_id": "543328", "loser_id": "Sunbaby", "winner_score": "2", "loser_score": 0, "winner_char": "ultimate/joker", "loser_char": "ultimate/drmario", "stage": "Yoshi's Story"}]

In [9]:
my_sets = my_sets[my_sets['game_data'] != '[]']
print(my_sets['game_data'].iloc[2])

[{"winner_id": 1440849, "loser_id": 1817494, "winner_score": null, "loser_score": null, "winner_char": "ultimate/yoshi", "loser_char": "ultimate/bowserjr", "stage": "Pok\u00e9mon Stadium 2"}, {"winner_id": 1440849, "loser_id": 1817494, "winner_score": null, "loser_score": null, "winner_char": "ultimate/yoshi", "loser_char": "ultimate/bowserjr", "stage": "Town & City"}]

In [10]:
print(len(sets))

7792822

In [11]:
print(len(sets[sets['game_data'] != '[]']))

2517239

In [12]:
ranking = pd.read_csv('/kaggle/input/super-smash-bros-database/ultimate_player_database/ranking.csv')
ranking.head()

   index      game ranking_name  priority region     seasons tournaments icon
0      0  ultimate         PGRU         0  world  ["1", "2"]          []  pgr

In [13]:
import json

In [14]:
game_counts = {}


for i in range(len(sets)):
    data_list = json.loads(sets['game_data'].iloc[i])
    for game in data_list:
        if game['winner_char'] is None or game['loser_char'] is None:
            pass
        else:
            characters = game['winner_char'] + game['loser_char']
            if characters in game_counts:
                game_counts[characters] += 1
            else:
                game_counts[characters] = 1

In [15]:
matchups = pd.DataFrame(list(game_counts.items()), columns=['matchup', 'count'])
matchups.head()

                                matchup  count
0          ultimate/jokerultimate/mario   2781
1        ultimate/jokerultimate/drmario    827
2  ultimate/iceclimbersultimate/pikachu    488
3          ultimate/warioultimate/joker   1662
4         ultimate/lucinaultimate/wario    631

In [16]:

split_columns = matchups['matchup'].str.slice(start=9).str.split('ultimate/', expand=True)
split_columns.columns = ['winner', 'loser']
matchups=matchups.iloc[:,:2]

matchups = pd.concat([matchups, split_columns], axis=1)

matchups.drop('matchup', axis=1, inplace=True)
matchups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7569 entries, 0 to 7568
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   7569 non-null   int64
 1   winner  7569 non-null   object
 2   loser   7569 non-null   object
dtypes: int64(1), object(2)
memory usage: 177.5+ KB

In [17]:
matchups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7569 entries, 0 to 7568
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   7569 non-null   int64
 1   winner  7569 non-null   object
 2   loser   7569 non-null   object
dtypes: int64(1), object(2)
memory usage: 177.5+ KB

In [18]:
matchups = matchups[~((matchups['winner'] == 'random') | (matchups['loser'] == 'random'))]
matchups.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7396 entries, 0 to 7568
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   7396 non-null   int64
 1   winner  7396 non-null   object
 2   loser   7396 non-null   object
dtypes: int64(1), object(2)
memory usage: 231.1+ KB

In [19]:
matchups = matchups[~(matchups['winner'] == matchups['loser'])]
matchups.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7310 entries, 0 to 7568
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   count   7310 non-null   int64
 1   winner  7310 non-null   object
 2   loser   7310 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.4+ KB

In [20]:
ness = pd.DataFrame(matchups[matchups['winner'] == 'ness'])
ness.head()

     count winner          loser
6     2691   ness     donkeykong
125   1121   ness          robin
131    706   ness    iceclimbers
132    890   ness        darkpit
134   3050   ness  captainfalcon

In [21]:
ness = ness.rename(columns={'count': 'wins'})
ness.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 6 to 7427
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   wins    85 non-null     int64
 1   winner  85 non-null     object
 2   loser   85 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.7+ KB

In [22]:
ness = ness.drop('winner', axis=1)

In [23]:
ness = ness.rename(columns={'loser': 'opponent'})
ness.columns

Index(['wins', 'opponent'], dtype='object')

In [24]:
ness_l = pd.DataFrame(matchups[matchups['loser'] == 'ness'])
ness_l = ness_l.rename(columns={'winner': 'opponent', 'count': 'losses'})
ness_l.columns

Index(['losses', 'opponent', 'loser'], dtype='object')

In [25]:
full_ness = pd.merge(ness, ness_l, on='opponent', how='inner')
full_ness.head()

   wins       opponent  losses loser
0  2691     donkeykong    2560  ness
1  1121          robin    1660  ness
2   706    iceclimbers     763  ness
3   890        darkpit     621  ness
4  3050  captainfalcon    2121  ness

In [26]:
full_ness = full_ness.drop('loser', axis=1)

In [27]:
full_ness.head()

   wins       opponent  losses
0  2691     donkeykong    2560
1  1121          robin    1660
2   706    iceclimbers     763
3   890        darkpit     621
4  3050  captainfalcon    2121

In [28]:
full_ness['total_games'] = full_ness['wins'] + full_ness['losses']
full_ness['win_percent'] = full_ness['wins'] / full_ness['total_games']

In [29]:
full_ness.head()

   wins       opponent  losses  total_games  win_percent
0  2691     donkeykong    2560         5251     0.512474
1  1121          robin    1660         2781     0.403092
2   706    iceclimbers     763         1469     0.480599
3   890        darkpit     621         1511     0.589014
4  3050  captainfalcon    2121         5171     0.589828

In [30]:
print(full_ness.sort_values(by='win_percent'))

    wins    opponent  losses  total_games  win_percent
23   265       simon     400          665     0.398496
1   1121       robin    1660         2781     0.403092
44   681     richter    1001         1682     0.404875
68   696    duckhunt     990         1686     0.412811
81  2533       steve    3477         6010     0.421464
..   ...         ...     ...          ...          ...
46  2746  jigglypuff    1839         4585     0.598909
75  4796       joker    3170         7966     0.602059
59   587       sheik     378          965     0.608290
27  2468       falco    1582         4050     0.609383
30  1809         fox    1041         2850     0.634737

[85 rows x 5 columns]

In [31]:
incineroar = pd.DataFrame(matchups[matchups['winner'] == 'incineroar'])
incineroar = incineroar.rename(columns={'count': 'wins'})
incineroar = incineroar.drop('winner', axis=1)
incineroar = incineroar.rename(columns={'loser': 'opponent'})
incineroar_l = pd.DataFrame(matchups[matchups['loser'] == 'incineroar'])
incineroar_l = incineroar_l.rename(columns={'winner': 'opponent', 'count': 'losses'})
full_incineroar = pd.merge(incineroar, incineroar_l, on='opponent', how='inner')
full_incineroar = full_incineroar.drop('loser', axis=1)
full_incineroar['total_games'] = full_incineroar['wins'] + full_incineroar['losses']
full_incineroar['win_percent'] = full_incineroar['wins'] / full_incineroar['total_games']
full_incineroar.head()

   wins       opponent  losses  total_games  win_percent
0  1072         lucina     669         1741     0.615738
1  1244          snake    1593         2837     0.438491
2  1262      kingkrool    1267         2529     0.499011
3  1440  captainfalcon    1331         2771     0.519668
4   901      littlemac     772         1673     0.538553

In [32]:
print(full_incineroar.sort_values(by='win_percent').head(25))

    wins         opponent  losses  total_games  win_percent
63    84            simon     158          242     0.347107
23   230          richter     392          622     0.369775
51   426            robin     678         1104     0.385870
79   550           minmin     846         1396     0.393983
80   999            steve    1438         2437     0.409930
12   952       kingdedede    1355         2307     0.412657
21   235         duckhunt     333          568     0.413732
72   190  miiswordfighter     257          447     0.425056
26   519              ken     702         1221     0.425061
25   530           ridley     693         1223     0.433361
1   1244            snake    1593         2837     0.438491
49   790              ike    1003         1793     0.440602
70   453         bowserjr     564         1017     0.445428
60   409          drmario     509          918     0.445534
55   683           pacman     848         1531     0.446114
38   295        darksamus     365          660     0.446970
66   297        miigunner     366          663     0.447964
59   793   mrgameandwatch     972         1765     0.449292
47  1363              rob    1656         3019     0.451474
64   615    wiifittrainer     739         1354     0.454210
83   789           kazuya     944         1733     0.455280
35  1433             ness    1710         3143     0.455934
41   732            samus     873         1605     0.456075
20   430         isabelle     499          929     0.462863
10  1274       donkeykong    1471         2745     0.464117

In [33]:
print(full_incineroar.sort_values(by='win_percent', ascending=False).head(25))

    wins    opponent  losses  total_games  win_percent
16   471       marth     285          756     0.623016
0   1072      lucina     669         1741     0.615738
67   369       sheik     245          614     0.600977
43   375     lucario     272          647     0.579598
81   880   sephiroth     645         1525     0.577049
46   872         fox     641         1513     0.576338
68   237       daisy     175          412     0.575243
14  1143         roy     849         1992     0.573795
78  1138      byleth     853         1991     0.571572
50   464      corrin     359          823     0.563791
53   858       kirby     668         1526     0.562254
61   347     darkpit     274          621     0.558776
82  1465        pyra    1173         2638     0.555345
44  1072     pikachu     866         1938     0.553148
32  1385       mario    1155         2540     0.545276
19   507       chrom     434          941     0.538789
30  1149       falco     984         2133     0.538678
4    901   littlemac     772         1673     0.538553
18   285         pit     245          530     0.537736
29  1691       cloud    1459         3150     0.536825
73  1892       joker    1641         3533     0.535522
39  1146  jigglypuff    1005         2151     0.532775
74   290    rosalina     257          547     0.530165
31   690   younglink     613         1303     0.529547
33  1195        link    1068         2263     0.528060

In [34]:
def mu_chart(character, matchups):
    df = pd.DataFrame(matchups[matchups['winner'] == character])
    
    df = df.rename(columns={'count': 'wins'})
    df = df.drop('winner', axis=1)
    df = df.rename(columns={'loser': 'opponent'})
    df_l = pd.DataFrame(matchups[matchups['loser'] == character])
    df_l = df_l.rename(columns={'winner': 'opponent', 'count': 'losses'})
    full_df = pd.merge(df, df_l, on='opponent', how='inner')
    full_df = full_df.drop('loser', axis=1)
    full_df['total_games'] = full_df['wins'] + full_df['losses']
    full_df['win_percent'] = full_df['wins'] / full_df['total_games']
    return full_df

In [35]:
bowserjr = mu_chart('bowserjr', matchups)
print(bowserjr.head())
print(bowserjr.sort_values(by='win_percent').head(25))

   wins    opponent  losses  total_games  win_percent
0   218         pit     116          334     0.652695
1  1431      bowser    1109         2540     0.563386
2   536   bayonetta     662         1198     0.447412
3   622       zelda     594         1216     0.511513
4   267  miibrawler     262          529     0.504726
    wins         opponent  losses  total_games  win_percent
80   771            steve    1165         1936     0.398244
71   172  miiswordfighter     251          423     0.406619
40   922            snake    1263         2185     0.421968
55    93            simon     121          214     0.434579
58   396            robin     508          904     0.438053
2    536        bayonetta     662         1198     0.447412
63   373              ken     449          822     0.453771
38   309        darksamus     368          677     0.456425
53   605           pacman     685         1290     0.468992
33   686            samus     772         1458     0.470508
18  1238         palutena    1384         2622     0.472159
15   266         duckhunt     296          562     0.473310
57   333         isabelle     365          698     0.477077
20   320          richter     347          667     0.479760
41   297            peach     322          619     0.479806
60   351          megaman     374          725     0.484138
45   656              ike     685         1341     0.489187
6   1160              rob    1200         2360     0.491525
50   328          drmario     339          667     0.491754
79   648           minmin     658         1306     0.496172
22   953            yoshi     965         1918     0.496872
67   207              ryu     209          416     0.497596
31   426         toonlink     425          851     0.500588
77   934            terry     928         1862     0.501611
47   217          lucario     215          432     0.502315

In [36]:
characters = matchups['winner'].unique()
all_mu_chart = {}
for character in characters:
    all_mu_chart[character] = mu_chart(character, matchups)
    all_mu_chart[character].to_csv(f'/kaggle/working/{character}.csv')